<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
  <meta property="og:title" content="{{ if ne .URL "/" }} {{ .Title }} &middot; {{ end }} {{ .Site.Title }}" />
  {{ with .Site.Params.themecolor }}
  <meta name="theme-color" content="{{ . }}" />
 {{ end }}
  <meta property="og:site_name" content="{{ .Site.Title }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  {{ with .Params.images }}{{ range first 5 . }}
  <meta property="og:image" content="{{ . }}" />
  {{ end }}{{ end }}
  {{ if .IsPage }}
  <meta property="og:type" content="article" />
  {{ with .Site.Params.facebook }}
  <meta property="og:article:author" content="https://facebook.com/{{ . }}" />
  {{ end }}
  <meta property="og:article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}" />
  {{ range .Params.tags }}
  <meta property="og:article:tag" content="{{ . }}" />
  {{ end }}
  {{ else }}
  <meta property="og:type" content="website" />
  {{ end }}

  <title>
    {{ if ne .URL "/" }} {{ .Title }} &middot; {{ end }} {{ .Site.Title }}
  </title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/railscasts.min.css">

  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/fira_code.css">
  <link rel="shortcut icon" href="{{ .Site.BaseURL }}images/favicon.ico" />
  <link rel="apple-touch-icon" href="{{ .Site.BaseURL }}images/apple-touch-icon.png" />
  {{ if eq .URL "/" }}
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  {{ end }}
</head>
<body>
    {{ if isset .Site.Params "bgcolor" }}
    <header class="global-header"  style="background:{{.Site.Params.bgcolor}}">
    {{ else }}
    <header class="global-header"  style="background-image:url({{ if isset .Site.Params "image" }}{{ .Site.Params.image }} {{ else }} /images/bg.jpg {{ end }})">
    {{ end }}
    <section class="header-text">
      <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
      {{ with .Site.Params.subtitle }}
      <div class="tag-line">
        {{ . | safeHTML }}
      </div>
      {{ end }}
      {{ if ne .URL "/" }}
      <a href="{{ .Site.BaseURL }}" class="btn-header btn-back hidden-xs">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
        &nbsp;Home
      </a>
      {{ end }}
      {{ with .RSSLink }}
      <a href="{{ . }}" class="btn-header btn-subscribe hidden-xs">
        <i class="fa fa-rss" aria-hidden="true"></i>
        &nbsp;Subscribe
      </a>
      {{ end }}
      {{ partial "link.html" . }}
    </section>
  </header>
  <main class="container">
